<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <title>footer右侧</title>
    <meta charset="utf-8">
    <meta name="applicable-device" content="pc">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="//static.diandong.com/css/base.css">
</head>

<body>

    <footer>
        <div class="footer-right line">
                <div class="footer-right-pic">
                    <img src="//static.diandong.com/img/footer/footer-logo.png" alt="">
                </div>
                <div class="footer-right-link">
                    <a href="javascript:;">意见反馈</a>
                    <span>|</span>
                    <a href="javascript:;">联系我们</a>
                </div>
                <div class="footer-right-link">
                    <a href="javascript:;">网站地图</a>
                    <span>|</span>
                    <a href="javascript:;">关于电动邦</a>
                </div>
                <div class="footer-right-company">
                    <span>2014电动邦科技（北京）有限公司<br>京CP备14046616号</span>
                    <img src="//static.diandong.com/img/footer/cert.png" alt="">
                </div>
                <div class="footer-right-num"><img src="//static.diandong.com/img/footer/beian2017.png" alt=""><span>京公网安备  11010502034773号</span></div>
            </div>
    </footer>

 
</body>

</html>
