<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <title>footer</title>
    <meta charset="utf-8">
    <meta name="applicable-device" content="pc">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="//static.diandong.com/css/base.css">
</head>

<body>

    <footer>
        <div class="footer-content">
        <div class="footer-content-layout wrap clearfix">
            <div class="footer-content-layout-logo fn-left">
                <img src="//static.diandong.com/img/footer/footer-logo.png" alt="">
            </div>
            <div class="footer-content-layout-intro fn-left">
                <ul>
                    <li><a href="javascript:;">意见反馈</a><a href="javascript:;">联系我们</a><a href="javascript:;">网站地图</a></li>
                    <li><span>2014电动邦科技（北京）有限公司  京CP备14045516号</span><img class="cert" src="//static.diandong.com/img/footer/cert.png" alt=""></li>
                    <li><img class="beian" src="//static.diandong.com/img/footer/beian2017.png" alt=""><span>京公网安备  11010502034773号</span></li>
                </ul>
            </div>
            <div class="footer-content-layout-code fn-right">
                <div class="footer-content-layout-code-pic">
                    <img src="//static.diandong.com/img/footer/ddbwx.png" alt="">
                    <p>电动邦微信</p>
                </div>
                <div class="footer-content-layout-code-pic">
                    <img src="//static.diandong.com/img/footer/ddbapp.png" alt="">
                    <p>电动邦APP</p>
                </div>
            </div>
        </div>
        <div class="footer-content-line"></div>
    </div>
    </footer>

 
</body>

</html>
