/*big header begin*/
.header{
    height: 3.41rem;
    margin-bottom: 0.43rem;
    /*background-image:linear-gradient(40deg, #3399ff 8%, #30c4ff 96%);*/
    background-image:linear-gradient(to right,#3399ff,#30c4ff);
}
.header-content{
    width: 16rem;
    height: 1.71rem;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    padding-top: 0.26rem;
    box-sizing:border-box;
}
.header-content-logo{
    width: 3.2rem;
    height: 1.02rem;
    margin:0.06rem 0.43rem 0 0.55rem;
}
.header-content-logo a{
    height: 0;
    font-size: 0;
    padding-top: 1.02rem;
    overflow: hidden;
    display: block;
    background-image: url(/h5/img/logo-white.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-content-search{
    width: 9.47rem;
    height: 1.24rem;
    font-size:0.6rem;
    overflow: hidden;
    color:#999999;
    border-radius:0.13rem;
}
.header-content-search a{
     width: 9.47rem;
    height: 1.24rem;
    display: inline-block;
}
.header-content-search input{
    width: 9.47rem;
    height: 1.24rem;
    border: none;
    background:#fff url(/h5/img/search.png) no-repeat;
    background-position: 1.96rem center; 
    background-size: 0.68rem;
    outline: none;
    padding-left: 2.8rem;
    box-sizing:border-box;
    font-size: 0.6rem;
     transition: all .3s;
}
input::-webkit-input-placeholder{
    color:#999;
}
.header-content-user{
    width: 1.11rem;
    height: 1.11rem;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    margin:0.06rem 0.64rem 0 0.55rem;
}
.header-content-user img{
    width: 1.11rem;
}
.header-nav{
    height: 1.71rem;
    line-height: 1.71rem;
    font-size: 0.68rem;
    padding: 0 0.21rem;
    box-sizing:border-box;
}
.header-nav ul{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
.header-nav li{
    text-align: center;
    -webkit-box-flex:1;
}
.header-nav a{
    color: rgba(255,255,255,0.7);
}
.header-nav a.current{
    color: #fff;
}

/*big header end*/


.body-shade{
    width: 16rem;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -8rem;
    z-index: 100;
}
.head{
   width: 16rem;
    height: 1.71rem;
    background:#3399ff;;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: flex;
    align-items: center;
    padding: 0 0.68rem;
    position: relative;
    z-index: 1000;
    left: 50%;
    margin-left: -8rem;
}
.head-back{
    width: 0.38rem;
    height: 0.6rem;
    display: inline-block;
    background:url(/h5/img/back.png) no-repeat; 
    background-size: 0.38rem;
}
.head-home{
    width: 0.85rem;
    height: 0.85rem;
    margin:0 0.64rem 0 0.77rem; 
}
.head-home a{
    height: 0;
    font-size: 0;
    padding-top: 0.85rem;
    overflow: hidden;
    display: block;
    background-image: url(/h5/img/home.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.head-title{
    font-size:0.64rem;
    color:#ffffff;
    -webkit-flex: 1;
}
.head-search{
    width: 2.56rem;
    height: 1.24rem;
    margin-right: 0.64rem;
    transition: all .3s;
}
.head-search input{
    width: 2.56rem;
    height: 1.24rem;
    border: none;
    background: #fff url(/h5/img/search.png) no-repeat 0.43rem center;
    background-size: 0.68rem;
    outline: none;
    padding-left: 1.2rem;
    box-sizing: border-box;
    font-size: 0.6rem;
     transition: all .3s;
}

.head-search a{
    height: 0;
    font-size: 0;
    padding-top: 1.24rem;
    overflow: hidden;
    display: block;
    background-image: url(/h5/img/search-long.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.head-menu{
    width: 0.9rem;
    height: 0.68rem;
}
.head-menu a{
    height: 0;
    font-size: 0;
    padding-top: 0.68rem;
    overflow: hidden;
    display: block;
    background-image: url(/h5/img/menu.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.head-more{
    position: absolute;
    top: 1.48rem;
    right: 0rem;
    z-index: 1000;
}
.head-more-three{
  height: 0px;
  width: 0px;
  border-right:0.26rem solid transparent;
  border-left: 0.26rem solid transparent;
  border-bottom: 0.24rem  solid #fff;
  margin-left: 7.6rem;
}
 
.head-more-box{
    width: 8.96rem;
    background: #fff;
}
.head-more-box-user{
    font-size: 0;
    height: 1.96rem;
    line-height: 1.96rem;
    border-bottom:1px solid #cfcfcf; 
}
.head-more-box-user-img{
    width: 1.11rem;
    height: 1.11rem;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    margin:0 0.38rem 0.64rem 0.6rem;
    vertical-align: bottom;
}
.head-more-box-user-info,.head-more-box-user-name{
    display: inline-block;
}
.head-more-box-user a{
    font-size: 0.6rem;
    color: #333;
}
.head-more-box-user-info a{
    vertical-align: top;
}
.head-more-box-user-img img{
    width: 1.11rem;
}
.head-more-box-user span{
    font-size: 0.6rem;
    color: #cfcfcf;
    padding: 0 0.3rem;
}

.head-more-box-nav>ul>li{
    float: left;
    width: 2.98rem;
    height: 1.71rem;
    line-height: 1.71rem;
    text-align: center;
    overflow: hidden;
    border-right: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf
}
.head-more-box-nav>ul>li:nth-of-type(3n){
    border-right: none;
}
.head-more-box-nav>ul>li>a{
    display: inline-block;
    width: 2.98rem;
    height: 1.71rem;
    font-size:0.64rem;
    color:#333333;
}
.head-more-box-close{
    height: 1.54rem;
    background: url(/h5/img/detail/close-black.png) no-repeat center;
    background-size: 0.6rem;
}